<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Datos Covid 19</h1>

        <form>
            <div class="form-row d-flex justify-content-between">
                <!-- Fecha desde -->
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa-regular fa-calendar"></i>
                            </div>
                        </div>
                        <input type="text"
                        placeholder="Datepicker"
                        class="form-control"
                        bsDatepicker
                        [bsConfig]="{ isAnimated: true }">
                    </div>
                </div>

                <!-- Fecha hasta -->
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input group-prepend">
                            <div class="input-group-text">
                                <i class="fa-regular fa-calendar"></i>
                            </div>
                        </div>
                        <input type="text"
                        placeholder="Datepicker"
                        class="form-control"
                        bsDatepicker
                        [bsConfig]="{ isAnimated: true }">
                    </div>
                </div>

                <!-- Paises -->
                <div class="col-md-4">
                    <div class="input-group">
                        <div class="input group-prepend">
                            <div class="input-group-text">
                                <i class="fa-solid fa-globe"></i>
                            </div>
                        </div>
                        <select class="form-control">
                            <option>op1</option>
                            <option>op2</option>
                            <option>op3</option>
                        </select>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <div class="chart-wrapper">
        <canvas baseChart width="400" height="400"
        [type]="'line'"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [legend]="lineChartLegend">
      </canvas>
    </div>
</main> 

